.fmxe-text-accent-line {
  display: block;

  &::before {
    background-color: var(--fmxe-color-electric-blue-core);
    content: '';
    display: block;
    height: 5px;
    margin-bottom: var(--fmxe-space-md);
    margin-inline: 0 auto;
    width: 50px;
  }

  &.align-center::before {
    margin-inline: auto;
  }

  &.align-right::before {
    margin-inline: auto 0;
  }

  &.color-white::before {
    background-color: var(--fmxe-color-white);
  }
}
