@import '../../../src/global.css';

.fmxe-form {
  background-color: var(--fmxe-color-white);
  border-radius: var(--fmxe-border-radius-md);
  display: grid;
  font-family: var(--fmxe-font-family-figtree);
  gap: var(--fmxe-space-md);
  padding: var(--fmxe-space-lg);

  .fmxe-form-heading {
    color: var(--fmxe-color-gray-dark-1);
    font-size: var(--fmxe-font-family-size-h4);
    font-weight: var(--fmxe-font-family-weight-700);
    line-height: var(--fmxe-font-family-line-height-h4);
    margin: 0 0 var(--fmxe-space-xs);
  }

  .fmxe-form-description {
    color: var(--fmxe-color-gray-light-3);
    font-size: var(--fmxe-font-family-size-sm);
    font-weight: var(--fmxe-font-family-weight-400);
    line-height: var(--fmxe-font-family-line-height-sm);
    margin: 0;
  }

  .fmxe-form-fields {
    display: grid;
    gap: var(--fmxe-space-md);
  }

  .fmxe-button {
    justify-self: start;
  }

  .fmxe-form-recaptcha {
    color: var(--fmxe-color-gray-light-3);
    font-size: var(--fmxe-font-family-size-xs);
    font-weight: var(--fmxe-font-family-weight-400);
    line-height: var(--fmxe-font-family-line-height-xs);
    margin: 0;
  }
}

[data-theme="dark"] .fmxe-form {
  background-color: var(--fmxe-color-cobalt-blue-midnight-dark);

  .fmxe-form-heading {
    color: var(--fmxe-color-white);
  }

  .fmxe-form-description,
  .fmxe-form-recaptcha {
    color: var(--fmxe-color-cobalt-blue-light-1);
  }
}
