.asset-gallery {
  color: var(--fmxe-color-gray-dark-1);
  display: grid;
  gap: var(--fmxe-space-lg);
  grid-template-columns: repeat(var(--_columns, 4), 1fr);

  &[data-theme="dark"] {
    color: var(--fmxe-color-white);
  }
}

.asset-gallery-item {
  align-items: var(--_align, center);
  display: flex;
  flex-direction: column;
  gap: var(--fmxe-space-sm);
  justify-content: center;
  text-align: var(--_align, center);
}

.asset-gallery-label {
  border-radius: var(--fmxe-border-radius-sm);
  color: inherit;
  font-family: var(--fmxe-font-family-code);
  font-size: 10px;
  margin: 0;
  overflow-wrap: break-word;
  padding: 0;
  white-space: normal;
}
