/* Shapes & Elevation Story Styles */
.example-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.example-box {
  align-items: center;
  background-color: var(--fmxe-color-electric-blue-core);
  display: flex;
  font-family: var(--fmxe-font-family-figtree);
  height: 120px;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 120px;
}

/* Border Radius Examples */
.border-radius-sm {
  border-radius: var(--fmxe-border-radius-sm);
}

.border-radius-md {
  border-radius: var(--fmxe-border-radius-md);
}

.border-radius-round {
  border-radius: var(--fmxe-border-radius-round);
}

/* Shadow Examples */
.shadow-sm {
  box-shadow: 0 0 var(--fmxe-shadow-sm) var(--fmxe-shadow-color);
}

.shadow-md {
  box-shadow: 0 0 var(--fmxe-shadow-md) var(--fmxe-shadow-color);
}

/* Glow Effect */
.glow-sm {
  box-shadow: 0 0 var(--fmxe-shadow-sm) var(--fmxe-shadow-glow);
}

.glow-md {
  box-shadow: 0 0 var(--fmxe-shadow-md) var(--fmxe-shadow-glow);
}

/* Interactive Glow Effect */
.example-glow-interactive {
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.example-glow-sm:hover,
.example-glow-sm:active,
.example-glow-sm:focus {
  box-shadow: 0 0 var(--fmxe-shadow-sm) var(--fmxe-shadow-glow);
  outline: none;
}

.example-glow-md:hover,
.example-glow-md:active,
.example-glow-md:focus {
  box-shadow: 0 0 var(--fmxe-shadow-md) var(--fmxe-shadow-glow);
  outline: none;
}

.example-shadow-sm:hover,
.example-shadow-sm:active,
.example-shadow-sm:focus {
  box-shadow: 0 0 var(--fmxe-shadow-sm) var(--fmxe-shadow-color);
  outline: none;
}

.example-shadow-md:hover,
.example-shadow-md:active,
.example-shadow-md:focus {
  box-shadow: 0 0 var(--fmxe-shadow-md) var(--fmxe-shadow-color);
  outline: none;
}

.example-glow-interactive p {
  text-align: center;
  margin: 0;
}

/* Variable table displayed as part of the story */
.sb-variable-table {
  font-family: var(--fmxe-font-family-figtree);

  h4 {
    font-size: var(--fmxe-font-size-h4);
    line-height: var(--fmxe-font-family-line-height-h4);
    font-weight: var(--fmxe-font-family-weight-500);
  }
}
